<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + ' ' + user.lastName %></h1>
		<div class="thumbnail">
			<% if (user.avatar) { %>
				<img src="<%= user.avatar %>" alt="user profile image">
			<% } else { %>
				<img src="https://images.unsplash.com/photo-1491719302159-fcdf021abd5c" alt="default user profile image">
			<% } %>
			<% if (user.email) { %>
				<div class="caption">Email: <%= user.email %></div>
			<% } %>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s campgrounds:</h3>
		<div class="row text-center yc-campgrounds-flex">
			<% campgrounds.forEach(function(campground) { %>
				<div class="col-md-6">
					<div class="thumbnail">
						<img src="<%= campground.image %>">
						<div class="caption">
							<h4><a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h4>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</div>

<% include ../partials/footer %>